*.after
*.before
*.cache/
*.debhelper
*.debhelper/
*.deps
*.in
*.log
*.m4
*.o
*.out
*.status
*~

compile
config.h
config.h.in
configure

debian/*.substvars
debian/*build-stamp
debian/files
debian/deb-template/
stamp*

depcomp
install-sh
missing

Makefile
kernel-scripts
kernelsc

*.swp
*.img
*.xz
tmp
