Source: kernel-scripts
Section: misc
Priority: optional
Maintainer: Steve Jeong <steve@how2flow.net>
Standards-Version: 2.4.5
Build-Depends: debhelper (>= 10)

Package: kernel-scripts
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Automation kernel scripts.
